<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>express-blog</title>

    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- self style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="header page clearfix">
        <div class="header-left fl">
          <% if(session && session.userid){ %>
             Hello,<%= session.username %>
          <% } %>
          <% if(!session.userid){ %>
           欢迎登陆 我的微博
          <% } %>
        </div>
        <div class="header-right fr">
          <% if(session && session.userid){ %>
            <a class="header-btn" href="/articles">全部文章</a>
            <a class="header-btn" href="/articles?userid=<%= session.userid %>">我的文章</a>
            <a class="header-btn" href="/publish">发表文章</a>
            <a class="header-btn" id="signout">退出</a>
          <% } %>
          <% if(!(session && session.userid)){ %>
            <a class="header-btn" href="/signin">登录</a>
            <a class="header-btn" href="/signup">注册</a>
          <% } %>

        </div>
      </header>
    </div>
    <script>
      $('#signout').click(function () {
        $.ajax({
          url: "/signout",
          type: "get",
          success: function (res) {
            if (res.code === 200) {
              window.location.href = '/signin'
            }
          },
          err: function (err) {
            console.log(err)
          }
        })
      })
    </script>

    